<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi HTML</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Teko|ZCOOL+QingKe+HuangYou" >
    <link rel="stylesheet" href="./bootstrap.css">

</head>
<body style="background-color: rgb(44,62,80);">
  <section class="container-flow">
    <div class="row mx-0">
      <div class="col-md-12  col-lg-6 p-4" style="min-height: 20vh;">

        <div class="card mx-4" style="background-color: rgb(52,73,94); font-family: ZCOOL QingKe HuangYou;">

          <div class="card-header text-center text-white p-1">Primer enlace con la base de datos</div>

          <section class="container-flow">
            <div class="row mx-0 justify-content-around">
              <div class="col-lg-12 card p-0" style="background-color: transparent; min-height: 10vh; border-color: rgb(26,188,156);">

                <table class="table text-white table-borderless"> 
                  <thead>
                    <tr class="text-center" style="font-size: 24px;"> 
                      <th scope="col">#</th>
                      <th scope="col">DATA 01</th>
                      <th scope="col">DATA 02</th>
                      <th scope="col">DATA 03</th>
                      <th scope="col">DATA 04</th>
                      <th scope="col">DATA 05</th>
                    </tr>
                  </thead>
                  <tbody id="TABLE_B">                       
                    <tr class="text-center" style="font-size: 22px;">
                      <th scope="row" > # </th>
                      <td id="ROW_00"> 0 </td>
                      <td id="ROW_01"> 0 </td>
                      <td id="ROW_02"> 0 </td>
                      <td id="ROW_03"> 0 </td>
                      <td id="ROW_04"> 0 </td>
                    </tr>                                       
                  </tbody>
                </table>

              </div>
            </div>
          </section>

          <div class="card-footer text-center text-white p-0"> </div>
        </div>

      </div>
    </div>
  </section>
</body>
<script src="./app.js"></script>
</html>